<nav class="navbar">
  <p>@Html.ActionLink("Go Home", "Index", "Home", null, new {@Class="btn btn-primary"})</p>
  <p>@Html.ActionLink("See all Recipes", "Index", "Recipes", null, new {@Class="btn btn-primary"})</p> 
  <p>@Html.ActionLink("See all Categories", "Index", "Categories", null, new {@Class="btn btn-primary"})</p>
  <p>@Html.ActionLink("Log Off", "LogOff", "Account", null, new {@Class="btn btn-primary"})</p>
</nav>