@{
  Layout ="_Layout";
}

<h1>Welcome to this Page You can Add  a category</h1>

@model RecipeBox.Models.Category


@using (Html.BeginForm())
{

  @Html.LabelFor(model=>model.Name)
  @Html.TextBoxFor(model=>model.Name)
  
  <input type ="Submit" value="Add a category"/>
}