@{
  Layout ="_Layout";

}

<h1>Welcome to the Recipe Box</h1>

<h3>Click on the links below to navigate through difeerent Recipees and Categories</h3>

<h4>@Html.ActionLink("List Of Recipees","Index","Recipees")</h4>

<h4>@Html.ActionLink("List Of Categories","Index","Categories")</h4>
