@{
  Layout = "_Layout";
}
@using System.Security.Claims
<h1>Authentication with Identity</h1>
<hr/>
@if(User.Identity.IsAuthenticated)
{
  <p> Hello @User.Identity.Name</p>
  @using (Html.BeginForm("LogOff","Account"))
  {
    <p><input type ="Submit" value ="Log Out"/></p>
  }
}
else
{
    <h5>@Html.ActionLink("Register","Register")</h5>
    <h5>@Html.ActionLink("Login","Login")</h5>
}

